@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    font-size: 1em;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.container-1{
    width: 90%;
    margin: 1em auto 0.5em;
}
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 5.5em;
    height: 2em;
}
.navbar{
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
}
.navbar >li + li{
    margin-left: 2em;
}
.section-1{
    display: flex;
    justify-content: space-between;
    margin: 2em 0 14em 0;
}
.section-1 img{
    width: 30em;
    height: 20em;
    margin-right: 1em;
}
.sect-1{
    width: 42%;
    margin-top: 3em;
    color: hsl(243, 87%, 12%);
    font-size: 0.9rem;
}
.sect-1 h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    line-height: 1.4em;
    margin-bottom: 0.6em;
}
.input-1 input{
    margin: 1.5em 1.5em 1em 0;
    padding: 0.4em 4.7em 0.4em 0.5em;
}
::placeholder{
    opacity: 0.5;
    font-size: 0.7rem;
}
.input-1 button{
    background-color: hsl(224, 93%, 58%);
    padding: 0.7em 3.3em;
    border-radius: 0.2em;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
}
.section-2{
    background-color: hsl(240, 75%, 98%);
}
.section-2a{
    display: flex;
    color: hsl(243, 87%, 12%);
    width: 90%;
    margin: 0.5em auto 0;
    padding-bottom: 4.5em;
    position: relative;
}
.top-img{
    width: 100%;
    position: relative;
    top: -5em;
}
.sect-2ai h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1em;
}
.sect-2ai a{
    font-size: 0.8rem;
}
.sect-2ai p{
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.5em;
    width: 67%;
}
.sect-2ai a{
    color: hsl(170, 45%, 43%);
}
.sect-2ai a:hover{
    opacity: 0.5;
}
.sect-img{
    width: 30em;
    height: 19em;
    margin-right: 1em;
}
.testimonial{
    background-color: white;
    width: 45%;
    height: auto;
    padding: 1.5em;
    margin-top: 2.5em;
    font-size: 0.63rem;
}
.testimonial p{
    font-size: 0.63rem;
    font-weight: 600;
    line-height: 1.6em;
    margin-top: 0.5em;
}
.testimonial-profile{
    display: flex;
    margin-top: 1em;
}
.testimonial-profile h3{
    font-family: 'Raleway', sans-serif;
    font-size: 0.65rem;
}
.avatar{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.2em 0.5em 0.5em 0;
}
.section-3{
    background-color: hsl(238, 22%, 44%);
}
.section-3a{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 4em 0;
}
.sect-3a{
    width: 35%;
}
.sect-3a p{
    font-size: 0.8rem;
    margin-top: 1.5em;
    line-height: 1.2em;
}
.sect-3b input{
    padding: 0.7em 15em 0.7em 0.7em;
    margin-right: 6em;
}
.sect-3b > button{
    background-color: hsl(224, 93%, 58%);
    color: white;
    padding: 0.7em 3em;
    border-radius: 0.2em;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 1em;
    border: none;
}
.section-4{
    background-color: hsl(243, 87%, 12%);
}
.img-sect4{
    width: 90%;
    margin: 0 auto;
    padding: 4em 0;
}
.logo-white{
    width: 8em;
}
.section-4a{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1;
    color: white;
    list-style-type: none;
    margin-top: 1.5em;
}
.sect-4a{
    grid-column: 1/2;
    grid-row: 1;   
}
.sect-4a span{
    display: flex;
    margin-bottom: 0.9em;
}
.sect-4a li{
    margin-left: 0.7em;
}
.list a{
    text-decoration: none;
    color: white;
}
.list a:hover{
    color: hsl(224, 93%, 58%);
}
.sect-4b{
    grid-column: 2/3;
    grid-row: 1;   
}
.sect-4c{
    grid-column: 3/4;
    grid-row: 1;   
}
.list{
    line-height: 2.5em;
}
.sect-4d{
    grid-column: 4/5;
    grid-row: 1;   
}


.icons{
    width: 1em;
    height: 1em;
    margin-left: 0.4em;
}

@media (max-width:768px){
    .section-1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } 
    .section-1 img{
        width: 90%;
        margin: 0 auto;
    }
    .sect-1{
        width: 80%;
        text-align: center;
        font-size: 1rem;
    }
    .sect-1 h2{
        font-size: 2.2rem;
    }
    .input-1 input{
        margin: 1.5em auto;
    }
    .input-1 button{
        display: inline-block;
        padding: 0.7em 8em 0.7em 8em;
    }
    .top-img{
        top: -1.7em;
    }
    .section-2a{
        display: flex;
        flex-direction: column-reverse; 
        text-align: center;
    }
    .sect-2a{
        margin-top: 7em;
    }
    .sect-2ai p{
        font-size: 1rem;
        width: 100%;
        margin: 1em auto;
    }
    .sect-2ai h2{
        font-size: 1.3rem;
        margin-bottom: 1em;
    }
    .sect-img{
        width: 90%;
        margin: 0 auto;
    }
    .testimonial{
        width: 30em;
        margin: 2.5em auto 0 auto;
        text-align: left;
        padding: 1.7em 2em;
        height: 17em;
    }
    .testimonial p{
        font-size: 0.7rem;
        line-height: 1.7em;
    }
    .section-3a{
        display: flex;
        flex-direction: column;
    }
    .sect-3a{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .sect-3a h2{
        font-size: 1.3rem;
    }
    .sect-3a p{
        font-size: 1.1rem;
        line-height: 1.5em;
    }
    .sect-3b{
        width: 75%;
        margin: 1em auto;
    }
    .sect-3b input{
        padding: 0.7em 29% 0.7em 0.7em ;
        display: inline-block;
    }
    .sect-3b > button{
        padding: 0.8em 22%;
        margin-top: 1em;
    }
    .section-4a{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,auto);
        gap: 1.5em;
    }
    .sect-4a{
        grid-column: 1;
        grid-row: 1/2;  
    }
    .sect-4b{
        grid-column: 1;
        grid-row: 2/3;   
    }
    .sect-4c{
        grid-column: 1;
        grid-row: 3/4;   
    }
    .sect-4d{
        grid-column: 1;
        grid-row: 4/5;  
        margin: 0 auto;
    }
    .img-sect4{
        width: 85%;
    }
    .logo-white{
        width: 13em;
        height: 5em;
        margin-bottom: 1.5em;
    }
}
@media (min-width:769px) and (max-width:1200px){
    .top-img{
        top: -3.5em;
    }
    .testimonial{
        width: 27em;
        height: 15em;
    }
}
@media (max-width:280px){
    .testimonial{
        width: 24em;
        height: 19em;
    }
    .top-img{
        width: 100%;
        position: relative;
        top: -1em;
    }
}
